---
---

@import "minima/skins/classic", "minima/initialize";

.site-nav {
  display: flex;
  justify-content: center;
  background-color: #004080;
  padding: 12px;
}

.site-nav a {
  color: white !important;
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
}

.site-nav a:hover {
  color: #ffcc00 !important;
}
